@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;600;700&display=swap');

Card {
    font-family: 'IBM Plex Sans Thai', sans-serif !important;
}

.product_img {
    transition: all 1s;
    cursor: pointer;
}

.product_img:hover {
    /*transform: translate(0, -20px);*/
    transform: scale(1.2);
}

.price {
    font-weight: bold !important;
}

span {
    font-weight: bold;
}

@media only screen and (max-width: 764px) {
    .product_img_container {
        height: 50% !important;
    }

    .card-container {
        height: auto !important;
    }
}