.product_img {
    transition: all 1s;
    cursor: pointer;
}

.product_img:hover {
    /*transform: translate(0, -20px);*/
    transform: scale(1.2);
}

.price {
    font-weight: bold !important;
}

span {
    font-weight: bold;
}